

.card{
		align-items: center;
		text-align: center;
		word-wrap: break-word;
        padding: 2em;
        width: 15em;
        height: 25%;
	}


	.img {
		width: 6em;
		height: 6em;
		padding: .3em;
	}

	

	.card_container{
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	

	.contact_type_cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		/* box-shadow: #757575bd 0 8px 6px -6px; */
		padding: 5%;
	}

    .resource_cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		/* padding: 5%; */
	}

    .resource_card{
		align-items: center;
		text-align: center;
		word-wrap: break-word;
        margin: 2em 1em;
        padding: 2em;
        width: 25em;
        height: 20em;
	}

    .attributions {
        color: rgb(97, 96, 96);
        opacity: 50%;
        margin-right: 1em;
        font-size: .75em;
    }


    .search {
  display: block;
  width: 94%;
  margin: 1rem 1rem 1rem 2rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form--search {
    background-position-x: right; 
    z-index: 1;
    min-width: 45rem;
}

h2 {
    margin-bottom: 0rem;
}

.searchField {
    padding: 0rem;
    font-weight: bold;
}

.search-container {
  display: flex;
  justify-content:flex-end;
  padding-bottom: 0;
}

.search-results {
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding:.5em; */
    
}

.no-style {
    background-color: transparent;
    padding: 0;
    border: white;
    border-radius: 0rem;
}

.search-results-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.contact-info{
    font-size: .8em;
}

p {
    margin: .5em;
}
