

.card{
		align-items: center;
		text-align: center;
		word-wrap: break-word;
        padding: 1em;
        /* width: 10em;
        height: 25%; */
	}


	.img {
		/* width: 4em;
		height: 6em;
		padding: .3em; */
	}

	

	.card_container{
		width: 100%;
		margin-right: 0 auto;
		margin-left: 0 auto;
        padding: 1em 2em 2em 2em;
	}
	

	.contact_type_cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		
	}

    .resource_cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

    .resource_card{
		align-items: center;
		text-align: center;
		word-wrap: break-word;
        margin: 2em 1em;
        padding: 2em;
        width: 25em;
        height: 20em;
	}

    .attributions {
        color: rgb(97, 96, 96);
        opacity: 70%;
        margin-right: 1em;
        font-size: .75em;
    }


    .search {
  display: block;
  width: 94%;
  margin: 1rem 1rem 1rem 2rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form--search {
    background-position-x: right; 
    z-index: 1;
    min-width: 45rem;
}

h2 {
    margin-bottom: 0rem;
}

.searchField {
    padding: 0rem;
    font-weight: bold;
}

.search-container {
  display: flex;
  justify-content:flex-end;
  padding-bottom: 0;
  padding-right: 5%;
  padding-top: 2em;
}

.search-results {
  background-color: #fff;
  background-clip: border-box;
 
    
}

.no-style {
    background-color: transparent;
    padding: 0;
    border: white;
    border-radius: 0rem;
}

.search-results-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.contact-info{
    font-size: .8em;
}

p {
    margin: .5em;
}

.homepage-title {
    font-weight: normal;
    padding-left: .5em;
    padding-bottom: 1em;
    font-size: 2em;
}