

.card{
		align-items: center;
		text-align: center;
		word-wrap: break-word;
        padding: 2em;
        width: 15em;
        height: 25%;
	}


	.img {
		width: 6em;
		height: 6em;
		padding: .3em;
	}

	

	.card_container{
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	

	.contact_type_cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		/* box-shadow: #757575bd 0 8px 6px -6px; */
		padding: 5%;
	}

    .resource_cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		/* padding: 5%; */
	}

    .resource_card{
		align-items: center;
		text-align: center;
		word-wrap: break-word;
        margin: 2em 1em;
        padding: 2em;
        width: 25em;
        height: 20em;
	}

    .attributions {
        color: rgb(97, 96, 96);
        opacity: 50%;
        margin-right: 1em;
        font-size: .75em;
    }